*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: "LXGW WenKai Mono TC", monospace;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6; }

body {
  box-sizing: border-box;
  background-color: #f4f1ee; }

::selection {
  background-color: #86765f;
  color: #f4f1ee; }

.group {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(8, 12.5rem); }
  .group__title {
    grid-column: 1 / 4;
    font-size: 2.4rem;
    font-weight: bold;
    color: #86765f;
    width: 90%; }
  .group__content {
    grid-column: 4 / 9;
    font-size: 2rem;
    color: #514028; }

.paragraph {
  font-size: 2rem;
  color: #514028; }

.divider {
  height: 2px;
  border: none;
  margin-top: 1rem; }
  .divider--dark {
    background-color: #86765f; }
  .divider--light {
    height: 1px;
    background-color: #ebe4de; }

.list {
  list-style: none;
  margin-bottom: 1rem; }
  .list__title {
    font-weight: bold;
    color: #3c301e;
    background-color: #cbbbad;
    display: inline-block;
    border-radius: 1rem; }
  .list__item {
    margin-bottom: 0.5rem; }
  .list__detail {
    font-size: 1.6rem;
    color: #86765f;
    margin-top: 3px; }

.link {
  padding: 2px;
  border-radius: 1rem;
  color: currentColor;
  transition: all 0.2s; }
  .link:hover {
    color: #f4f1ee;
    background-color: #514028; }

.header {
  margin: 0 auto;
  max-width: 100rem;
  margin-bottom: 4rem; }
  .header__title {
    color: #514028;
    font-size: 4.8rem;
    margin-top: 10rem; }

.container {
  margin: 0 auto;
  max-width: 100rem; }
