$color-gray-900: #3c301e;
$color-gray-700: #514028;
$color-gray-500: #86765f;
$color-gray-300: #cbbbad;
$color-gray-100: #ebe4de;
$color-white: #f4f1ee;
$color-code-bg: #e3d9d4;

$content-width: 65rem;
