*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  //make box-sizing inheritable
} //universal normalization

html {
  font-size: 62.5%;
  //defines what 1 rem is. we want 1rem=10px, and 10/16=0.625
  font-family: "LXGW WenKai Mono TC", monospace;
  font-weight: 400;
  font-style: normal;
}

body {
  box-sizing: border-box;
  background-color: $color-white;
}

::selection {
  background-color: $color-gray-500;
  color: $color-white;
}

