.header {
  margin: 0 auto;
  max-width: 100rem;
  margin-top: 10rem;
  &__title {
    color: $color-gray-700;
    font-size: 4.8rem;
  }
  margin-bottom: 4rem;
}

.container {
  margin: 0 auto;
  max-width: 100rem;
}

.footer {
  height: 10rem;
  background-color: $color-gray-500;
  @media (max-width: 900px) {
    margin: 0 -5rem;
  }
}
