.header {
  margin: 0 auto;
  max-width: 100rem;
  &__title {
    color: $color-gray-700;
    font-size: 4.8rem;
    margin-top: 10rem;
  }
  margin-bottom: 4rem;
}

.container {
  margin: 0 auto;
  max-width: 100rem;
}
